.reviewsContainer {
  padding: 10px;
  background-color: rgb(50, 49, 49);
  border-radius: 30px;
  transition: transform 0.3s ease;
  margin: 15px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}
.author {
  font-weight: 700;
}
